*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
html { font-size: 93.75%; }

body { 
    background-color: hsl(212, 45%, 89%);
    text-align: center; 
    font-family: 'Outfit', sans-serif;
}

.qr-box { 
    background: hsl(0, 0%, 100%); 
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 14px 20px 20px rgba(31, 50, 81, 0.1);
}

img {
    border-radius: 15px;
    width: 100%;
}


h1, p { margin: 25px 0; }

.heading { 
    font-weight: 700; 
    color: hsl(218, 44%, 22%);
    font-size: 2rem;
}

.sub-text { 
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 1.5rem;
}

/* ================> Mobile screen <====================== */
@media screen and (max-width: 375px) {
   
    .qr-box {
        width: 280px;
        padding: 15px;
    
    }  

    img {
        max-width: 100%;
    }

    .heading {
        font-size: 1.4rem;
    }

    .sub-text {
        font-size: 1rem;  
    }
}
